<%- model_class = Person -%>
<div class="page-header">
 <h5> Список резюме </h5>
</div>

<%= search_form_for @q do |f| %>

  <%= f.label :last_name_cont %>
  <%= f.search_field :last_name_cont %>

  <%= f.submit %>
<% end %>
<table class="table table-striped">
  <thead>
  </thead>
  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= link_to person.id, person_path(person) %></td>
        <td><%= person.first_name %></td>
        <td><%= person.last_name %></td>
        <td><%=l person.created_at %></td>
        <td>
          <%= link_to "Открыть",
            view_page_path(:person_id => person.id), :class => 'btn btn-mini' %>
          <%= link_to "Удалить",
                      person_path(person),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @people %>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_person_path,
            :class => 'btn btn-primary' %>
