<div class="row">
  <div class="span4 offset4" >
    <%= image_tag("mickey.jpg" , :size=>"250x250") %>
  </div>
</div>

  <hr>
  <div class="alert alert-info">
    <h4> Введіть інформацію про себе: </h4>
  </div>
<hr>

<div class="row">
  <div class="span6 offset3">
<%= form_for @person,  url: wizard_path,  :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label "Введіть своє ім'я:", :class => 'control-label' %> 
    <div class="controls">
      <%= f.text_field :first_name, :class => 'text_field' , :required => true %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label "Введіть своє прізвище:", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :last_name, :class => 'text_field' , :required => true%>
    </div>
  </div>
   <div class="control-group" style="">
    <%= f.label "Вкажіть громадянство:", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :nationality, :class => '' ,  :required => true%>
    </div>
  </div>
 <div class="control-group" style="">
    <%= f.label "Вкажіть дату народження:", :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :dob,
        :start_year => Time.now.year - 20,
        :end_year => Time.now.year,
        :use_month_names=>["Січень", "Лютий", "Березень", "Квітень", "Травень", "Червень",
                                                 "Липень", "Серпень", "Вересень", "Жовтень", "Листопад", "Грудень"] ,  :required => true %>
    </div>
  </div>

<hr>
 

</div>
</div>
 <div class="form-actions  pagination-centered">
    <%= f.submit "Далі", :class => 'btn btn-primary btn-large ' %>
  </div>
  <% end %>
