 <script>  
  $(document).ready(function() {
    $(".btnPrint").printPage(
    {
      url: "/pages/print_page",
      attr: "href",
      message:"Идет печать ..."
}
    );
  });
</script>
<div id="print_page"  >
<% @person = Person.find(cookies[:person_id]) %>
<%- model_class = Person -%>
<div class="alert alert-info">
  <h4><%=t '.title', :default => "Посвідчення Водія :" %></h4>
</div>



<div id="driver_id" style="position: relative; width:323px; height:204px;" >
  <%= image_tag "front.jpg" , :size=>"323x204" %>
  <% if @person.headshot_photos.size >0  %>
    <%= image_tag "/headshots/#{@person.headshot_photos.last.image_file_name}" ,
    :size => "91x129", :class=>"img-rounded", :style=>" position: absolute; left: 27px; top: 46px; " %>
  <% end %>
  <h6 style=" position: absolute; top: 52px; left: 146px;"> <%= @person.last_name %> </h4>
  <h6 style=" position: absolute; top: 89px;  left: 146px;"> <%= @person.first_name %> </h4>
  <h6 style=" position: absolute; top: 118px; left: 147px;"> <%= @person.dob.strftime("%d-%m-%Y") %> </h4>
  <h6 style=" position: absolute; top: 141px; left: 146px;"> <%= (Time.now + 5.years).to_date.strftime("%d-%m-%Y") %> </h4>
</div>  


<hr />
  <p class="pagination-centered"> <a class="btnPrint btn btn-primary btn-large" href='iframes/iframe.html' id="print_link">Роздрукувати</a></p>

</div>
