<div class=row>
  <div class="span4 offset4" >
    <%= image_tag("http://upload.wikimedia.org/wikipedia/ru/archive/9/98/20121013113115!Mickey_Mouse_in_Steamboat_Willie,_1928.jpg" , :size=>"250x250") %>
  </div>
</div>
<hr>
<% @question = Question.all[1] %>

<div class="alert alert-info">
  <h3> <%= @question.text %> </h3>
</div>
<%= form_tag("/resume/question2" , :method => :put)  do  %>
  <% @question.variants.each do |v| %>
    <label class="radio">
      <%= radio_button_tag(:variant, v.id) %>
  <h4 class="muted"> <%= v.text %> </h4>
    </label>
  <% end %>
 <hr>
  <div class="form-actions  pagination-centered">
    <%= submit_tag "Далі" , :class=> " btn btn-primary btn-large"%>
  </div>
<% end %>



