
<div class="alert alert-info">
  <div class="row">
    <div class="span8 offset3">
      <h2 > Вітаємо в 
      <strong > Автошколі </strong></h2>
 
<hr>
      </div>
 </div>
</div>
<hr>
<div class="row">
 
    <div class="span4 offset4">
      <%= image_tag("cars.jpg" , :size=>"300x300") %>
    </div>
 
    <div class="span4">
    </div>
    
  </div>
  <br  />
  <hr>
  <div class="form-actions  pagination-centered">
    <%= link_to 'Далі', next_wizard_path, :class=> "btn btn-primary btn-large "%>
  </div>

