<style> 

body * {
    visibility:hidden;
  margin: 0px;
}

body {
  margin: 0px;
  width: 310px;
  height: 194px;

}
  #driver_id * {
    visibility:visible;
  }
  @media print {
  body * {
    visibility:hidden;
  }
  body {
    margin: 0px;
    width: 310px;
    /*height: 194px;*/
    height: 388px;
  }
  
  #driver_id * {
    visibility:visible;
  }
  #driver_id {
    left:0;
    top:0;
  }
}
</style>
<% @person = Person.find(cookies[:person_id]) %>
<div id="driver_id" style="position: relative; max-width:310px; height:388px;" >
  <%= image_tag "front.jpg" , :size=>"310x194" %>
  <% if @person.headshot_photos.size >0  %>
    <%= image_tag "/headshots/#{@person.headshot_photos.last.image_file_name}" ,
    :size => "87x111", :class=>"img-rounded", :style=>" position: absolute; left: 27px; top: 43px; " %>
  <% end %>
  <h6 style=" position: absolute; top: 58px; left: 146px;"> <%= @person.last_name %> </h4>
  <h6 style=" position: absolute; top: 89px; left: 146px;"> <%= @person.first_name  %> </h4>
  <h6 style=" position: absolute; top: 122px; left: 147px;"> <%= @person.dob.strftime("%d-%m-%Y") %> </h4>
  <h6 style=" position: absolute; top: 145px; left: 146px;"> <%= (Time.now + 5.years).to_date.strftime("%d-%m-%Y") %> </h4>

<hr>
<%= image_tag "back.jpg" , :size=>"310x194" %>
</div> 
