<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= javascript_include_tag "application" %>
    
   
    <title><%= content_for?(:title) ? yield(:title) : "Kid-Ландія" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'images/apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'images/apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'images/apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'images/apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'images/favicon.ico', :rel => 'shortcut icon' %>
    
     </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Kid-Ландія</a>
          <div class="container nav-collapse">
            <ul class="nav">
                <li class="divider-vertical"><a href="/"><i class="icon-file"></i>Старт</a></li>
              <% if user_signed_in? %>
                <li class="divider-vertical"><a href="/services"><i class="icon-question-sign"></i>Вопросы/Профессии</a></li>
                <li class="divider-vertical"><a href="/people"><i class="icon-th-list"></i>Анкеты</a></li>
                <li class="divider-vertical"><a href="<%= edit_user_registration_path(:method => :get)%>"><i class="icon-user"></i><%= current_user.email %></a></li>
                <li class="divider-vertical"><a href="<%=  destroy_user_session_path%>" data-method="delete"><i class="icon-off"></i>Выход</a></li>
            <% end %>
            </ul>
 
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container well" style="background-color:white; ">
      <div class="content " >
        <div class="row">
          <div class="span12">
              <%= yield %>
            </div>
            <div class="span3">

<%
=begin
%>
              <div class="well sidebar-nav">
                <h3>Sidebar</h3>
                <ul class="nav nav-list">
                  <li class="nav-header">Sidebar</li>
                  <li><%= link_to "Link1", "/path1"  %></li>
                  <li><%= link_to "Link2", "/path2"  %></li>
                  <li><%= link_to "Link3", "/path3"  %></li>
                </ul>
              </div><!--/.well -->
 
<%
=end
%>
            </div><!--/span-->
        </div><!--/row-->
      </div><!--/content-->

      <footer class="pagination-centered">
        <p>&copy; Kid-Ландія 2013</p>
      </footer>

    </div> <!-- /container -->

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%#= javascript_include_tag "application" %>
<script>
     // To attach Backstrech as the body's background
     //$.backstretch("http://www.freefever.com/stock/cute-scenery-background-wallpapers-cartoon-wallpaper.jpg");
 //     $.backstretch("<%= asset_path("background.jpg")%>");   
</script>

  </body>
</html>
